
//+++++++++++++++++++
//++++MOBILE VIEW++++
//+++++++++++++++++++
.calc-container{
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 1.5rem;
    height: 80%;
    width: 100%;
}