//VARIBLES
$cyan: hsl(172, 67%, 45%);
$dkCyan: hsl(183, 100%, 15%);
$offWhite: hsl(189, 41%, 97%);
$mdGray: hsl(184, 14%, 56%);


//+++++++++++++++++++
//++++MOBILE VIEW++++
//+++++++++++++++++++
.calc-container{
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 1.5rem;
    width: 100%;
}

.error{
    color: red;
}



//++++++++++++++++++++
//++++DESKTOP VIEW++++
//++++++++++++++++++++
@media screen and (min-width: 1000px) {
    .calc-container{
        display: flex;
        justify-content: space-between;
        
        border-radius: 15px;
        margin-bottom: 4rem;

        width: 80%;
    }
}






